.teamDetail img {
    width: 100%;
}

.teamDetail {
    margin-bottom: 50px;
    background-color: #ff2d7f;
    color: white;
    border-radius: 20px;
}

.teamDetail h5 {
    padding-top: 12px;
    font-weight: 400;
    font-size: 22px;
}

.description p {
    color: whitesmoke;
    font-size: 22px;
    line-height: 2;
    font-weight: 400;
}